*,*::before,*::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus{
  outline: 1px dotted #f99;
}
html{
  --primary-bg-color:#555;
  --black:#000;
  --html-color: #F66B3C;
  --css-color: #52b1e0;
  --js-color: #F0DB4F;
  --vue-color: #41b883;
  --react-color:#75dbf0;
  --wordpress-color: #33bbff;
  --primary-text-color:#000;
  --sec-text-color:#fff;
  --git-color:#F66B3C;
  --github-color:#111;
  --section-bg: #378080;
  --sec-color: #f5984a;
  --font-one:'KoHo', sans-serif;
--font-two: 'Raleway', sans-serif;
scroll-behavior: smooth;
}
p{
  margin-bottom: 1rem;
}
a{
  text-decoration: none!important;
}
body{
  width: 100%;
  min-height: 100vh;
font-family: var(--font-one);
}
[data-animate]{
  opacity: 0;
  transition: 0.2s;
  transform: translate(0,40px);
}
.animate{
  opacity: 1;
  transform: translate(0,0);
  transition:0.2s;
}

.wrapper{
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
    transition: 0.4s ease-out;

}
.btns-wrapper{
  margin-top: 1rem;
}
.btn{
  display: inline-block;
  margin-right: 1rem;
  padding:.625rem 1.375rem;
  border-radius: .4rem;
  font-size: 1rem;
  text-decoration: none!important;
  color: var(--black);
  border: .15rem solid var(--sec-color);
  text-transform: capitalize;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-out;
}
.btn:hover{
    border-color: transparent;
  background-color: var(--sec-color);
}
.primary{
  border-color: transparent;
  background-color: var(--sec-color);
}
.primary:hover{
  background-color: transparent;
  border-color: var(--sec-color);
}
.logo{
  color: var(--section-bg);
  
}
.logo a{
  color: inherit;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--sec-text-color);
  position: relative;
  width: 100%;
  z-index: 110;
  transition: all 0.3s ease;
border-bottom:2px solid var(--sec-color);
}
.fixed-header{
  position: fixed;
    transition: all 0.3s ease;
box-shadow: 0 8px 15px #0004;
top: 0;
}
.nav-list{
  display: flex;
}
.nav-item{
  list-style: none;
  display: inline-block;
  /* min-width: 4rem; */
  margin-right: 1rem;
  font-size: 1.2rem;

}
.nav-item a{
  display: block;
  text-transform: uppercase;
  text-decoration: none!important;
  font-weight: 500;
  letter-spacing: 1px;
 color: var(--section-bg);
  white-space: nowrap;
    border-radius: 4rem;
      padding:0.625rem 1rem ;
     transition: all 0.4s ease-out;
     cursor: pointer;
}
.nav-item a:hover{
     background-color: var(--section-bg);
  color: var(--sec-text-color);
  transition: all 0.4s ease-out;
}
.nav-toggle-btn{
  display: none;
}

.section{
  padding: 3rem 1.875rem;
  text-align: center;
  padding-block-start: 5rem;

}
.section-title{
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding :0 2.5rem 1rem;
  color: var(--section-bg);
  min-width: 15rem;
  margin-top: 1rem;
  font-size: 1.625rem;
}
.section-title::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg,transparent ,var(--sec-color), transparent );
  height: .4rem;
  width: 100%;
  
}
.section-title::after{
   content: "";
  position: absolute;
  bottom: -4%;
  left: 50%;
  height: .7rem;
  width: .7rem;
  border-radius: 50%;
  transform: translate(-50%);
  background-color:var(--section-bg);
  border: 2px solid var(--sec-text-color);
  
}
.about-grid{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 0;
  max-width: 1300px;
}
.about-details{
  width: 100%;
  max-width: 650px;
  margin: 2rem auto;
  min-height: 5.625rem;
  transition:transform 0.3s ease, opacity 0.3s ease-in-out ;
  padding:2rem;
  text-align: left;
}
.about-details h2{
  margin-bottom: 1rem;
  font-size: 2rem;
}
.about-details p{
  line-height: 1.5;
  font-family: var(--font-two);
  margin-bottom: .5rem;
}
.my-name{
  display: inline-block;
  /* z-index: 10; */
  position: relative;
  padding-bottom: .5rem;
}
.my-name::before{
  content: "";
  position: absolute;
  width: 100%;
  height: .25rem;
  background:linear-gradient(120deg,#4db3b3,#f5984a);
  bottom: 0;
  left: 0;
}
.about-image-box{
  width: 100%;
  max-width: 300px;
  height: 18.75rem;
  background-color: var(--sec-color);
  margin-bottom: 2rem;
  box-shadow: 0 10px 15px #0005;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition:transform 0.3s ease, opacity 0.3s ease-in-out ;
}
.about-image-box img{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  border-radius: inherit;
}
.about-image-text{
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 0 0 250px 250px;
  background-color: var(--sec-color);
  text-align: center;
  transform: translateY(-4rem);
  transition: 0.4s;
    z-index: -1;
    opacity: 0;
color: var(--sec-text-color);
font-weight: 300;
font-size: 1.1rem;
}
.about-image-box:hover .about-image-text{
    transform: translateY(-.5rem);
    opacity: 1;
}
.skills-grid{
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 630px;
  transition: 0.4s;
}
.skills-section{
  background-color:var(--section-bg);
}
.skills-section .section-title{
  color: var(--sec-text-color);
}
.skill{
  margin: 0 auto 1.5rem;
  position: relative;
  background-color: var(--sec-text-color);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px #666;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill::before{
  content: "";
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  border: 2px solid #000;
  z-index: -1;
  border-radius: inherit;
    transition: 0.5s;
}
.html::before,.html .skill-title{
  background-color: var(--html-color);
}
.css::before,.css .skill-title{
  background-color: var(--css-color);
}
.js::before,.js .skill-title{
  background-color: var(--js-color);
}
.react::before,.react .skill-title{
  background-color: var(--react-color);
}
.vue::before,.vue .skill-title{
  background-color: var(--vue-color);
}
.git::before,.git .skill-title{
  background-color: var(--git-color);
}
.github::before,.github .skill-title{
  background-color: var(--github-color);
  color: var(--sec-text-color);
}
.wordpress::before,.wordpress .skill-title{
  background-color: var(--wordpress-color);
}
.skill:hover{
  box-shadow: 0 0 0 #0000;
  transition:0.4s ;
}
.skill:hover::before{
  /* transform: scale(1.1); */
    height: 120%;
  width:120%;
  left: -10%;
  top: -10%;
  transition: 0.5s;
}
.skill-title{
  position: absolute;
  top: 50%;
padding:1rem 1.2rem;
background-color: var(--black);
  z-index: 2;
  border-radius: 0 40px 40px 0;
  text-transform: uppercase;
  font-size: 1.20rem;
  visibility: hidden;
    transition:opacity 0.4s ease-in-out,transform 0.4s ease-in-out;
display: inline-block;
opacity: 0;
color: var(--black);
font-weight: 500;

}
.skill svg{
  display: inline-block;
  width: 100%;
  height: 60%;
  position: relative;
}
.skill:hover .skill-title{
  visibility: visible;
  opacity: 1;
    transition:opacity 0.4s ease-in-out,transform 0.4s ease-in-out;
  transform: translate(0,-50%);
}
.right{
    transform: translate(-30%,-50%);
left: 100%;
}
.left{
  border-radius: 40px 0 0 40px;
  right: 100%;
    transform: translate(30%,-50%);
}
.project-grid{
   margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-card{
  width: 100%;
  max-width: 330px;
  height: 350px;
  margin: 1rem auto 2rem;
  
  /* background-color: var(--black); */
position: relative;
  perspective: 1000px;
  transition: 0.5s ease-in-out;
}
.project-card-inner{
    box-shadow: 0 5px 12px #777;
  height: 100%;
  width: 100%;
  position: relative;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 8px;
}
.project-card-front{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  background-color: var(--section-bg);
  border-radius: inherit;
  overflow: hidden;
}
.project-title{
    padding: 2rem 0;
  background-color: var(--black);
  color: var(--sec-text-color);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.project-card-front > img{
  width: 100%;
  height:15.625rem;
  display: inline-block;
  /* object-fit: contain; */
}
.project-card-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  display: flex;
    justify-content: center;
    align-items: center;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  border-radius: inherit;
}
.project-card-back .project-details{
  width: 100%;
  transform: translateZ(100px);
  padding:1rem 2rem ;
  background-image: linear-gradient(130deg,var(--css-color),var(--vue-color));
  border-radius: inherit;
}
.project-card:hover .project-card-inner,.project-card:focus .project-card-inner{
  transform: rotateY(180deg);
}
.project-card-back .tools-wrapper{
  display: flex;
}
.project-card-back h4{
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 0.5rem;
}
.tools-list .tools-item{
  display: inline-block;
  width: 1.5rem;
  
}
.tools-item svg{
  width: 100%;
  display: inline-block;
}

.footer{
  text-align: center;
  background-color: var(--section-bg);
  padding-top: 4rem;
}
.footer-title{
  text-transform: capitalize;
  /* margin-bottom: 2rem; */
  position:relative;
  font-weight: 500;
  color: var(--sec-text-color);
  
}

.social-links-area{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding:3rem 0 4rem;
}

.social-link{
  display: inline-block;
  width: 4rem;
  position: relative;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 6px 10px #0023;
  background-color: var(--sec-text-color);
  padding: 1rem;
  text-transform: capitalize;
  -webkit-tap-highlight-color: #0000;
}
.social-link:last-child{
    margin-right: 0;
}
.social-link svg{
  display: inline-block;
  width: 100%;
}
.social-link-title{
  display: inline-block;
  padding:0.5rem 1rem;
  border-radius: 3rem;
  background-color:rgb(168,9,228);
  left: -0.5rem;
  top: -2.5rem;
  opacity: 0;
  transition: 0.3s ease;
  position: absolute;
}
.social-link:hover .social-link-title{
  opacity: 1;
    transition: 0.3s ease;
}
@media all and (max-width:600px){
  .section{
    padding: 2rem .5rem;
  }

}
@media all and (max-width:370px){
  .section{
    padding: 1.4rem .5rem;
  }
    .about-details{
    padding: 0 1.5rem ;
  }
}
@media all and (min-width:410px) and (max-width:485px){
  .skills-grid{
    padding-left:2.3rem;
    padding-right: 3rem;
  }
}
@media all and (max-width:300px){
  html{
    font-size: 14px;
  }
}
@media all and (min-width:800px){
  .about-grid{
    flex-direction: row;
    padding: 2rem 3rem;
  }
  .about-image-box{
    height: 18.75rem;
  }
  .about-details{
    /* margin-right: 2rem; */
    padding:0 2rem;
  }
}
@media all and (max-width:728px){
  .nav{
    position:fixed ;
    height: 0;
    min-width: 0;
    z-index: 110;
    background-color: var(--sec-text-color);
    right: 0;
    bottom: 0;
    padding-top: 3rem;
    padding-left: 2rem;
    max-width: 100%;
    visibility: hidden;
    transition: all 0.4s ease-out;
  }
  .nav-list{
    flex-direction: column;
  }
  .nav-toggle-btn{
  display: block;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  border: none;
  background-color: var(--section-bg);
  position: fixed;
  padding: .625rem ;
  transition: all 0.4s ease-out;
  box-shadow: 0 9px 12px #0004,0 -9px 12px #0003;
  bottom: 10%;
  right: 7%;
  z-index: 150;
}
.nav-toggle-btn span{
  width: 100%;
  height: 0.375rem;
  background-color: var(--sec-text-color);
  border-radius: 2rem;
  display: inline-block;
    margin-bottom: .25rem;
  transition: all 0.4s ease-out;

}

.nav-toggle-btn.active{
  background-color: #4db3b388;

}
.nav-toggle-btn.active span:nth-child(1){
    transform: rotate(40deg) translate(0.625rem,0.875rem);

}
.nav-toggle-btn.active span:nth-child(2){
  opacity: 0;
}
.nav-toggle-btn.active span:nth-child(3){
    transform: rotate(-45deg) translate(0.625rem,-0.625rem);
}
  .nav.open-nav{
        max-width: 350px;
    min-width: 70vw;
    height: 100vh;
    visibility:visible;
  }
}
@media all and (min-width:1250px){
  .section{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .about-image-box{
    height: 450px;
    max-width: 460px;
  }
}