/* You can add global styles to this file, and also import other style files */
:root {
  --light-color: #191a1a;
  --dark-color: #f5f5f5;
  --light-bg-color: #f5f5f5;
  --dark-bg-color: #191a1a;
  --primary-color: var(--dark-color);
  --primary-bg-color: var(--dark-bg-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
