$tab-width: 50px;
$tab-bar-height: 90px;
$home-tab-bg: #ef823d;
$projects-tab-bg: #04be9f;
$contact-tab-bg: #6a60f5;
$bg-opacity: 1;
$tab-bg-opacity: 0.4;
$bx-shadow: -1px 2px 7px rgba(0, 0, 0, 0.35);
$tab-btn-bx-shadow: -1px 2px 8px rgba(0, 0, 0, 0.1);

ion-split-pane.main-container {
  background: var(--background);
  max-width: var(--max-main-container-width, 1400px);
  margin: 0 auto;
}
ion-menu.main-menu {
  --min-nav-width: 70px;

  --side-min-width: var(--min-nav-width);
  --side-max-width: 250px;
  --side-width: var(--min-nav-width);
  --background: transparent;
  --border: none !important;
  transition: 0.5s ease-in-out;

  &.full {
    --side-width: 200px;
  }
}
ion-button.menu-button {
  &::part(native) {
    margin-left: 1rem;
  }
}
ion-toolbar {
  --background: transparent;
}
ion-content.menu-content {
  &::part(background) {
    background-color: transparent;
  }
}
ion-list {
  --ion-item-background: transparent;
  padding-left: 1rem;
  padding-top: 1rem;
}
.item-wrapper {
  border-radius: 15px 0 0 15px;
  position: relative;

  &.active {
    color: #fff;
    --background-hover: #fff;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;

      right: 0;
      top: -30px;
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;

      right: 0;
      bottom: -30px;
      border-radius: 50%;
    }
    &.home {
      &::before {
        box-shadow: 15px 15px 0 $home-tab-bg;
      }

      &::after {
        box-shadow: 15px -15px 0 $home-tab-bg;
      }
      background-color: rgba($color: $home-tab-bg, $alpha: $bg-opacity);
    }
    &.projects {
      &::before {
        box-shadow: 15px 15px 0 $projects-tab-bg;
      }

      &::after {
        box-shadow: 15px -15px 0 $projects-tab-bg;
      }
      background-color: rgba($color: $projects-tab-bg, $alpha: $bg-opacity);
    }
    &.contact {
      &::before {
        box-shadow: 15px 15px 0 $contact-tab-bg;
      }

      &::after {
        box-shadow: 15px -15px 0 $contact-tab-bg;
      }
      background-color: rgba($color: $contact-tab-bg, $alpha: $bg-opacity);
    }
  }
}
ion-item.menu-button {
  margin-bottom: 1rem;
  position: relative;
  overflow: visible;
  color: inherit;
  &:hover {
    color: currentColor;
  }
  --background: transparent;
  ion-icon {
    color: inherit;
    margin-right: 0.5rem;
  }
  ion-label {
    color: inherit;
    margin-left: 1rem;
    text-transform: capitalize;
  }
}
ion-tabs {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-tab-bar {
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  height: $tab-bar-height;
}
.tabs-inner {
  display: flex;
  background-color: var(--ion-color-step-150, #fff);
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 25px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: $bx-shadow;
  .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    display: block;
  }
  .indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    border-radius: 50%;
    background-color: #fe4;
    border: 6px solid var(--color);
  }
}
ion-tab-button {
  background-color: inherit;
  margin: 0;
  // width: $tab-width;
  // height: $tab-width;
  // border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 20px;
  //   transition: 0.3s ease-in-out;
  // position: relative;
  &::part(native) {
    // padding: 0.875rem 1rem;
    overflow: visible;
    --background-focused: #cf19a233;
    color: var(--color);
  }
  ion-icon {
    padding: 0;
    margin: 0;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: inherit;
  }
  ion-label {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(70px);

    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.tab-selected {
    width: auto;
    height: auto;

    ion-icon {
      transition: transform 0.4s;
      transform: translateY(-20px);
    }
    &::part(native) {
      background-color: #cf19a244;
      box-shadow: $tab-btn-bx-shadow;
    }
    &.home {
      &::part(native) {
        color: $home-tab-bg;
        background-color: rgba($color: $home-tab-bg, $alpha: $tab-bg-opacity);
      }
    }
    &.projects {
      &::part(native) {
        color: $projects-tab-bg;
        background-color: rgba(
          $color: $projects-tab-bg,
          $alpha: $tab-bg-opacity
        );
      }
    }
    &.contact {
      &::part(native) {
        color: $contact-tab-bg;
        background-color: rgba(
          $color: $contact-tab-bg,
          $alpha: $tab-bg-opacity
        );
      }
    }
    ion-label {
      // margin-left: 0.5rem;
      visibility: visible;
      // position: relative;
      transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: translateX(0);
    }
  }
}
