<main class="main-container">
  <div class="slides-container">
    <div
      class="slide"
      [style]="{ 'z-index': 3, transform: 'translateY(-30px)' }"
      appGesture
      (onGestureStart)="gestureStart($event)"
      (onGestureMove)="gestureMove($event)"
      (onGestureEnd)="gestureEnd($event)"
    >
      <div class="container">1</div>
    </div>
    <div
      class="slide"
      [style]="{
        'z-index': 2,
        transform: 'translateY(-15px) ',
        background: 'blue'
      }"
    >
      <div class="container">2</div>
    </div>
    <div
      class="slide"
      [style]="{
        'z-index': 1,
        transform: 'translateY(0px)',
        background: 'red'
      }"
    >
      <div class="container">3</div>
    </div>
  </div>
</main>
