$tab-width: 50px;
$tab-bar-height: 70px;
$home-tab-bg: #ef823d;
$projects-tab-bg: #04be9f;
$contact-tab-bg: #6a60f5;
$bg-opacity: 1;
$tab-bg-opacity: 0.4;
$bx-shadow: -1px 2px 7px rgba(0, 0, 0, 0.35);

$indicator-width: 65px;
ion-split-pane.main-container {
  // background: var(--background);
  max-width: var(--max-main-container-width, 1400px);
  margin: 0 auto;
}
ion-buttons {
  .menu-button {
    margin-left: 1rem;
  }
}
ion-menu.main-menu {
  --min-nav-width: 70px;

  --side-min-width: var(--min-nav-width);
  --side-max-width: 250px;
  --side-width: var(--min-nav-width);

  --border: none !important;
  transition: 0.4s ease-in-out;
  &::part(container) {
    padding-top: 1rem;
    background-color: var(--ion-color-step-150, var(--ion-color-light-shade));
  }
  &.full {
    --side-width: 200px;
    ion-item {
      ion-label {
        opacity: 1;
        transition: 0.4s ease-in-out;
      }
    }
  }
}

ion-list {
  --ion-item-background: transparent;
  padding-left: 1rem;
  padding-top: 1rem;
}
.item-wrapper {
  border-radius: 15px 0 0 15px;
  position: relative;

  &.active {
    // color: #fff;
    background-color: var(--background);
    // background-color: #fe4;
    // --background: var(--background, #fff);
    // --background-hover: #fff;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;

      right: 0;
      top: -30px;
      border-radius: 50%;
      box-shadow: 15px 15px 0 var(--background);
    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;

      box-shadow: 15px -15px 0 var(--background);
      right: 0;
      bottom: -30px;
      border-radius: 50%;
    }

    // background-color: rgba($color: $contact-tab-bg, $alpha: $bg-opacity);
  }
}
ion-item.menu-button {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: visible;
  color: inherit;
  height: auto;
  width: auto;
  // --background: transparent;
  --ripple-color: transparent;
  --background-hover: transparent;

  ion-icon {
    color: inherit;
  }
  ion-label {
    color: inherit;
    margin-left: 1rem;
    opacity: 0;
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
  }
}
ion-tabs {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-tab-bar {
  padding: 0.5rem;
  padding-top: 1.75rem;
  height: $tab-bar-height;
  overflow: visible;
  background: var(--background);
}
.tabs-inner {
  background-color: var(--ion-color-light-tint);
  width: 100%;
  height: auto;
  border-radius: 15px;
  --indicator-translate: 50px;

  box-shadow: $bx-shadow;
  .icon {
    width: $indicator-width;
    height: $indicator-width;
    line-height: $indicator-width;
    position: relative;
    display: block;
    border: none;
  }
  .indicator {
    position: absolute;
    width: $indicator-width;
    height: $indicator-width;
    top: -50%;
    left: 0;
    border-radius: 50%;
    background-color: var(--orange, var(--ion-color-light-shade));
    border: 6px solid var(--background);
    transform: translateX(var(--indicator-translate));
    transition: 0.4s;
  }
  .indicator::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -22px;
    top: 50%;
    background: transparent !important;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 var(--background);
  }
  .indicator::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: -22px;
    top: 50%;
    background: transparent !important;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 var(--background);
  }
}
.tabs-buttons-wrapper {
  width: 100%;
  max-width: 390px !important;
  position: relative;
  // background: #6f6;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  flex: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
ion-tab-button {
  background-color: inherit;
  margin: 0;
  flex: 0;
  flex-shrink: 0;
  width: 70px;
  height: 100%;
  // background-color: #675;

  &::part(native) {
    padding: 0;
    overflow: visible;
    --background-focused: #cf19a233;
    color: var(--color);
  }
  .icon {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 20px;
  }
  ion-label {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(30px);

    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.tab-selected {
    &.home {
      &::part(native) {
        color: var(--orange);
      }
      ~ .indicator {
        background-color: var(--orange);
      }
    }
    &.projects {
      &::part(native) {
        color: var(--green);
      }
      ~ .indicator {
        background-color: var(--green);
      }
    }
    &.contact {
      ~ .indicator {
        background-color: var(--french-blue);
      }
      &::part(native) {
        color: var(--french-blue);
      }
    }
    &:nth-child(2) {
      ~ .indicator {
        --indicator-translate: 9px;
        transform: translateX(
          calc(($indicator-width * 2) + var(--indicator-translate))
        );
      }
    }
    &:nth-child(3) {
      ~ .indicator {
        --indicator-translate: 32px;
        transform: translateX(
          calc(($indicator-width * 3) + var(--indicator-translate))
        );
      }
    }
    .icon {
      transition: transform 0.4s;
      transform: translateY(-30px);
      color: #fff;
    }

    ion-label {
      opacity: 1;
      transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: translateY(0);
      margin-top: 1.5rem;
    }
  }
}

@media all and (max-width: 330px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 34px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 8px;
          transform: translateX(
            calc(($indicator-width * 2) - var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 15px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}

@media all and (min-width: 331px) and (max-width: 350px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 45px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 5px;
          transform: translateX(
            calc(($indicator-width * 2) + var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 30px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}
@media all and (min-width: 365px) and (max-width: 374px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 55px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 12px;
          transform: translateX(
            calc(($indicator-width * 2) + var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 35px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}

@media all and (min-width: 375px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 60px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 18px;
          transform: translateX(
            calc(($indicator-width * 2) + var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 40px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}

@media all and (min-width: 385px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 65px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 23px;
          transform: translateX(
            calc(($indicator-width * 2) + var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 45px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}

@media all and (min-width: 395px) {
  .tabs-buttons-wrapper {
    .tab-selected {
      &:nth-child(1) {
        ~ .indicator {
          --indicator-translate: 72px;
          transform: translateX(var(--indicator-translate));
        }
      }
      &:nth-child(2) {
        ~ .indicator {
          --indicator-translate: 32px;
          transform: translateX(
            calc(($indicator-width * 2) + var(--indicator-translate))
          );
        }
      }
      &:nth-child(3) {
        ~ .indicator {
          --indicator-translate: 55px;
          transform: translateX(
            calc(($indicator-width * 3) + var(--indicator-translate))
          );
        }
      }
    }
  }
}
