<ion-app>
  <ion-split-pane
    contentId="menu-content"
    class="main-container"
    when="sm"
    *ngIf="!showTabs"
  >
    <ion-menu
      contentId="menu-content"
      menuId="main-menu"
      class="main-menu"
      [ngClass]="{ full: isFullNav }"
      side="start"
      type="overlay"
    >
      <ion-content [fullscreen]="true" class="menu-content">
        <ion-buttons>
          <ion-button (click)="toggleFullNav()" class="menu-button" mode="md">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-list lines="none">
          <div
            *ngFor="let page of pages"
            class="item-wrapper"
            [ngClass]="page.className"
            [routerLink]="page.url"
            routerLinkActive="active"
          >
            <ion-item [detail]="false" button class="menu-button">
              <ion-icon [name]="page.icon?.name"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-tabs *ngIf="showTabs" class="tabs-container">
    <ion-tab-bar slot="bottom" [translucent]="true">
      <div class="tabs-inner">
        <div class="tabs-buttons-wrapper">
          <ion-tab-button
            #tabButton
            *ngFor="let page of pages"
            [tab]="page.url"
            [ngClass]="page.className"
          >
            <span class="icon">
              <ion-icon [name]="page.icon?.name"></ion-icon>
            </span>
            <ion-label>{{ page.title }}</ion-label>
          </ion-tab-button>
          <div class="indicator" id="indicator"></div>
        </div>
      </div>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
