.page {
   background: #E1DDDD;
}

.mp-toolbar.toolbar {
   --f7-toolbar-bg-color: transparent;
   
   --f7-toolbar-height: 75px;
   --f7-toolbar-top-shadow-image: none;
   --f7-toolbar-bottom-shadow-image: none;
   --f7-toolbar-bg-image:none;
   --f7-tabbar-link-text-transform: capitalize;
   /* margin-bottom: 1rem; */
   padding: 0 0.625rem;
   --green: #0798AC;

   --french-blue: #168CD5;
   --f7-toolbar-font-size:10px;
   --nd-tab-link-bg:#fff;
}

.mp-toolbar.toolbar .toolbar-inner {
   background: transparent;
   /* width: 95%; */
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   border-radius: 1rem;
   height: 100%;
   --f7-tabbar-link-active-color: var(--f7-theme-color);
   
}
.mp-toolbar.toolbar .toolbar-inner::after{
   content: "";
   position: absolute;
   width: 100%;
   background: var(--nd-tab-link-bg);
   height: 27px;
   bottom: 0;
}
.mp-toolbar.toolbar .tab-link-active::after {
   --h: 0.35rem;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   content: "";
   position: absolute;
   left: 50%;
   display: inline-block;
   transform: translateX(-50%);
   
   background-color: var(--f7-tabbar-link-active-color);
   height: 0.375rem;
   width: 3rem;
   top: 0;
   box-shadow: 0 0 20px var(--f7-tabbar-link-active-color), 0 0 30px var(--f7-tabbar-link-active-color), 0 0 40px var(--f7-tabbar-link-active-color), 0 0 50px var(--f7-tabbar-link-active-color), 0 0 60px var(--f7-tabbar-link-active-color), 0 0 70px var(--f7-tabbar-link-active-color), 0 0 80px var(--f7-tabbar-link-active-color), 0 0 90px var(--f7-tabbar-link-active-color), 0 0 100px var(--f7-tabbar-link-active-color), 0 0 110px var(--f7-tabbar-link-active-color), 0 0 120px var(--f7-tabbar-link-active-color), 0 0 130px var(--f7-tabbar-link-active-color), 0 0 140px var(--f7-tabbar-link-active-color), 0 0 150px var(--f7-tabbar-link-active-color), 0 0 160px var(--f7-tabbar-link-active-color);
   ;
}

.mp-toolbar.toolbar .tab-link-active[href="#about-tab"] {
   --f7-tabbar-link-active-color: #f47234
}

.mp-toolbar.toolbar .tab-link-active[href="#project-tab"] {
   --f7-tabbar-link-active-color: var(--green)
}

.mp-toolbar.toolbar .tab-link-active[href="#contact-tab"] {
   --f7-tabbar-link-active-color: var(--french-blue)
}

.mp-toolbar.toolbar .tab-link-active[href="#about-tab"]~.tab-link-highlight {
   --f7-tabbar-link-active-color: #F47234
}

.mp-toolbar.toolbar .tab-link-active[href="#project-tab"]~.tab-link-highlight {
   --f7-tabbar-link-active-color: var(--green)
}

.mp-toolbar.toolbar .tab-link-active[href="#contact-tab"]~.tab-link-highlight {
   --f7-tabbar-link-active-color: var(--french-blue)
}

.mp-toolbar.toolbar .tab-link-highlight {
   height: 0rem;

}
.mp-toolbar.toolbar .tab-link:nth-child(2){

   border-top-right-radius:18px;
}
.mp-toolbar.toolbar .tab-link:nth-child(4){
   
   border-top-left-radius: 18px;
}
.mp-toolbar.toolbar .tab-link{
   background: var(--nd-tab-link-bg);
}
.mp-toolbar.toolbar .tab-link-highlight::after {
   --h: 0.35rem;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   content: "";
   position: absolute;
   left: 50%;
   display: inline-block;
   transform: translateX(-50%);
   bottom: calc(var(--h) * -1);
   background-color: var(--f7-tabbar-link-active-color);
   height: 0.5rem;
   width: 3rem;
   box-shadow: 0 0 20px var(--f7-tabbar-link-active-color), 0 0 30px var(--f7-tabbar-link-active-color), 0 0 40px var(--f7-tabbar-link-active-color), 0 0 50px var(--f7-tabbar-link-active-color), 0 0 60px var(--f7-tabbar-link-active-color), 0 0 70px var(--f7-tabbar-link-active-color), 0 0 80px var(--f7-tabbar-link-active-color), 0 0 90px var(--f7-tabbar-link-active-color), 0 0 100px var(--f7-tabbar-link-active-color), 0 0 110px var(--f7-tabbar-link-active-color), 0 0 120px var(--f7-tabbar-link-active-color), 0 0 130px var(--f7-tabbar-link-active-color), 0 0 140px var(--f7-tabbar-link-active-color), 0 0 150px var(--f7-tabbar-link-active-color), 0 0 160px var(--f7-tabbar-link-active-color);
   ;
}

.mp-photo-card {
   --md-photo-card-height: 420px;
   height: var(--md-photo-card-height);
   box-shadow: 0 10px 14px #0001;
   border-radius: 1rem;
   position: relative;
   width: 320px;
   max-width: 95%;
   margin: 2rem auto;
   margin-top: 100px;
   background: #fff;

}

.mp-photo-card-overlay {
   height: var(--md-photo-card-height);
   width: 55%;
   background: #F47234;
   position: absolute;
   top: -60px;
   right: 0;
   transform: skewY(17deg);
   border-top-left-radius: 1rem;
   border-top-right-radius: 0.75rem;
}

.mp-photo-card-content-wrap {
   background: #fff;
   box-sizing: border-box;
   background: linear-gradient(180deg, #fff8, #fff 40%);
   backdrop-filter: blur(5px);
   height: 170px;
   bottom: 0;
   width: 100%;
   left: 0;
   position: absolute;
   clip-path: polygon(0 0, 75% 0%, 100% 55%, 100% 100%, 0 100%, 0% 50%);
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   z-index: 3;
   padding:1rem 1.5rem;
}

.mp-photo-card-content-wrap .title {
   margin: 0;
}
.mp-photo-card-content-wrap .subtitle{
   font-weight: 500;
   color: #929292;
   text-transform: capitalize;
}
.md-photo-card-img-wrap {
   position: relative;
   z-index: 2;
   height: var(--md-photo-card-height);
   top: -70px;
   width: 90%;
   left: 50%;
   transform: translateX(-50%);
   /* background: #000; */
   position: absolute;

}
.mp-photo-card-content-wrap .button{
  display: inline-block; 
  height: auto;
  
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  background: #000;
  color:#fff;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: capitalize;
}

.mp-photo-card-content-wrap .button .icon{
   vertical-align: middle
}
img {
   max-width: 100%;
   height: 100%;
   object-fit: contain;
   transform: rotateY(180deg);
   

}


.fab {
   --f7-fab-box-shadow: none;
   --f7-fab-margin: 40px;
   
}

svg.fab-svg,.shape {
   width: 350px;
margin-top: -13px;


}
svg.fab-svg path {
   fill: var(--nd-tab-link-bg);
}