<ion-content [fullscreen]="true">
  <div class="inner-container">
    <div class="banner">
      <div class="banner-inner">
        <div class="banner-image-wrapper">
          <img
            src="assets/images/my-pics-trans.png"
            alt=""
            class="banner-image"
          />
        </div>
        <div class="banner-content">
          <h2 class="heading">
            Hi, I'm <span class="my-name"> Lucky Victory </span>
          </h2>
          <div class="swiper-container">
            <swiper #infoSwiper [config]="swiperConfig" class="info-swiper">
              <ng-template swiperSlide="">
                <div class="swiper-content">Frontend Developer</div>
              </ng-template>
              <ng-template swiperSlide="">
                <div class="swiper-content">Backend Developer</div>
              </ng-template>
            </swiper>
          </div>
          <p itemprop="description">
            Web developer with a keen interest in designs and vast
            understanding of the concepts of semantically structured,
            accessibility-ready responsive and interactive user interfaces.
          </p>

       
          <p>
            I’m always excited to learn something new and ever willing to share
            my knowledge with others.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
