$banner-bg: #ef823d;

.swiper-cube-shadow {
  display: none !important;
}
.swiper {
  height: 60px;
  padding: 0.51rem;
  padding-left: 0;
  .swiper-slide {
    justify-content: flex-start !important;
  }
  .swiper-content {
    font-size: 1.5rem;
    height: 100%;

    text-transform: uppercase;
  }
}
.inner-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  &.radius {
    border-radius: var(--bg-radius);
  }
  // background-color: var(--primary-bg);
}
.heading {
  font-size: 2.5rem;
}
.banner {
  padding: 0.5rem;
  border-radius: 10px;

  background-color: var(--background);
  align-items: center;
  // flex-wrap: wrap;
  // border-radius: inherit;
  // background: $banner-bg;
}
.banner-inner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.banner-image-wrapper {
  position: relative;
  top: 0;
  height: 400px;
  width: 100%;
  max-width: 380px;
  margin: 1rem auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4);
  padding: 1.5em;
  background: var(--primary-bg);
}

.banner-image {
  position: relative;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: inherit;
  background: var(--orange);
}
.banner-content {
  padding: 1rem;
  padding-top: 0;
  line-height: 1.2;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  position: relative;
  max-width: 500px;
  flex: 1;
  min-width: 300px;
  width: 100%;
}
.my-name {
  color: var(--orange);
}
