<ion-content [fullscreen]="true">
  <div class="inner-container">
    <div class="banner">
      <div class="banner-inner">
        <div class="banner-image-wrapper">
          <img
            src="assets/images/my-pics-trans.png"
            alt=""
            class="banner-image"
          />
        </div>
        <div class="banner-content">
          <h2 class="heading">
            Hello, I'm <span class="my-name"> Lucky Victory </span>
          </h2>
          <div class="swiper-container">
            <swiper #infoSwiper [config]="swiperConfig" class="info-swiper">
              <ng-template swiperSlide="">
                <div class="swiper-content">web Developer</div>
              </ng-template>
              <ng-template swiperSlide="">
                <div class="swiper-content">seo specialist</div>
              </ng-template>
            </swiper>
          </div>
          <p itemprop="description">
            Web developer and Search Engine Specialist, with vast understanding
            of the concepts of semantically-structured and accessibility-ready
            responsive design utilizing the mobile first method.
          </p>

          <p>
            Implementing
            <abbr title="Search Engine Optimisation">SEO</abbr> strategies in
            writing well-optimized code to increase user experience.
          </p>
          <p>
            I’m always eager to learn something new and ever willing to share my
            knowledge with others. I love listening to country and soul music.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
