<ion-content [scrollX]="true" [fullscreen]="true">
  <div class="inner-container">
    <div class="swiper-prev-btn">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </div>
    <div class="swiper-next-btn">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </div>
    <swiper
      [keyboard]="true"
      [navigation]="{nextEl:'.swiper-next-btn',prevEl:'.swiper-prev-btn'}"
      [pagination]="{clickable:true}"
      [loop]="true"
      [slidesPerView]="slidesPerView"
      [spaceBetween]="15"
      class="cards-swiper"
    >
      <ng-template
        swiperSlide
        class="swiper-slide-card"
        *ngFor="let project of projects;let i=index"
      >
        <div class="card" style="--index:{{i}}">
          <div class="card-image-wrapper">
            <img [src]="project.image" alt="" class="card-image" />
          </div>
          <div class="card-content">
            <div class="card-content-top">
              <h2 class="card-title">{{project.title}}</h2>
            </div>
            <p class="card-content-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
              fugit quaerat labore nihil ratione beatae?
            </p>

            <ul class="card-metas-container">
              <li *ngFor="let tool of project.tools" class="card-meta">
                <img src="{{tool.icon}}" class="card-meta-icon" />{{tool.name}}
              </li>
            </ul>

            <div class="btns-container">
              <ion-button type="button" mode="md" class="btn outline">
                <ion-icon slot="start" name="logo-github"></ion-icon>
                source
              </ion-button>
              <ion-button type="button" mode="md" class="btn fill">
                <ion-icon slot="start" name="globe-sharp"></ion-icon>
                view live
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</ion-content>
