<ion-content [scrollX]="true" [fullscreen]="true">
  <div class="inner-container" [ngClass]="{radius:!showTabs}">
    <swiper
      [autoplay]="true"
      [keyboard]="true"
      [pagination]="{clickable:true}"
      [zoom]="true"
      [loop]="true"
      [slidesPerView]="slidesPerView"
      [spaceBetween]="15"
    >
      <ng-template swiperSlide>
        <div class="card">
          <div class="card-image-wrapper">
            <img
              src="assets/images/screely-1662845944228.png"
              alt=""
              class="card-image"
            />
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card">Slide 2</div>
      </ng-template>
      <ng-template swiperSlide><div class="card">Slide 3</div> </ng-template>
    </swiper>
  </div>
</ion-content>
