<ion-content [scrollX]="true" [fullscreen]="true">
  <div class="inner-container">
    <swiper
      [keyboard]="true"
      [navigation]="true"
      [pagination]="{clickable:true}"
      [loop]="true"
      [slidesPerView]="slidesPerView"
      [spaceBetween]="15"
      class="cards-swiper"
    >
      <ng-template
        swiperSlide
        class="swiper-slide-card"
        *ngFor="let project of projects;let i=index"
      >
        <div class="card" style="--index:{{i}}">
          <div class="card-image-wrapper">
            <img [src]="project.image" alt="" class="card-image" />
          </div>
          <div class="card-content">
            <div class="card-content-top">
              <h2 class="card-title">{{project.title}}</h2>
            </div>
            <p class="card-content-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
              fugit quaerat labore nihil ratione beatae?
            </p>
            <div class="btns-container">
              <ion-buttons>
                <ion-button>
                  <ion-icon slot="start" name="logo-github"></ion-icon>
                  source
                </ion-button>
                <ion-button>
                  <ion-icon slot="start" name="globe-sharp"></ion-icon>
                  view live
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</ion-content>
