$bx-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.5);
$bx-shadow-light: -1px 2px 7px 0px rgba(255, 255, 255, 0.5);

.cards-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
  height: 100%;
  width: 100%;
}
.card {
  height: 100%;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: $bx-shadow;
  background-color: var(--background, #f5f5f5);
  flex-shrink: 0;
  flex-grow: 1;x
  max-width: 400px;
  //   width: 100%;
  overflow: hidden;
}
.card:last-child {
  margin-right: 1rem;
  background-color: #f67;
}
.card-image-wrapper {
  background-color: #f4cccf;
  border-radius: 0 0 15px 15px;
  min-height: 250px;
  height: 70%;
  box-shadow: -2px 4px 6px #ccc3;
}

.btns-container {
  padding: 1rem;
}
.btn {
  &::part(native) {
    padding: 0.875rem 1rem;
    background-color: #ef3564;
    border-radius: 15px;
  }
}

@media all and (prefers-color-scheme: dark) {
  .card {
    box-shadow: $bx-shadow-light;
  }
}
