<ion-content [fullscreen]="true" class="main-content">
  <div class="inner-container">
    <div class="contact-form-container">
      <form class="contact-form" #contactForm="ngForm" (ngSubmit)="formSubmit($event)">
        <h1>Let's Connect</h1>
        <p class="grey small">It would be a pleasure to work with you.</p>
        <h4 class="">What kind of Job would you like to hire me for?</h4>
        <ul class="contact-form-options-list">
          <li class="contact-form-options-item">
            <input
              type="radio"
              name="project-type"
              class="radio-input"
              checked
              id="{{jobTypes[0].id}}"
              value="{{jobTypes[0].title}}"
            />
            <label for="{{jobTypes[0].id}}">{{jobTypes[0].title}}</label>
          </li>
          <li
            class="contact-form-options-item"
            *ngFor="let jobType of leftJobTypes;"
          >
            <input
              type="radio"
              name="project-type"
              class="radio-input"
              id="{{jobType.id}}"
              value="{{jobType.title}}"
            />
            <label for="{{jobType.id}}">{{jobType.title}}</label>
          </li>
        </ul>
        <div class="inputs-container">
          <div class="input-wrapper">
            <input type="text" required name="fullname" id="fullname" />
            <label for="fullname">Your Name</label>
          </div>
          <div class="input-wrapper">
            <input
              type="email"
              required
              name="email"
              id="email"
              class="input"
              inputmode="email"
            />
            <label for="email">Your Email</label>
          </div>
          <div class="input-wrapper">
            <textarea
              name="message"
              required=""
              id="message"
              placeholder="Hi Lucky, We currently have an opening at our company, and you seem to be a good fit for the role. when will you be available for a chat?"
            ></textarea>
            <label for="message">Your Message</label>
          </div>
        </div>
        <ion-button
          mode="md"
          type="submit"
          class="contact-submit-btn"
          [ngClass]="[contactForm.invalid ? 'disabled':'']"
          expand="block"
          [disabled]="contactForm.invalid"
          >send message</ion-button
        >
      </form>
      <!-- 
      <div class="contact-socials-btns-container">
        <ion-buttons slot="start">
          <ion-button> </ion-button>
        </ion-buttons>
      </div> -->
      <div class="contact-swiper-container">
        <div class="swiper-prev-btn">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </div>
        <div class="swiper-next-btn">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </div>
        <swiper #contactSwiper class="contact-swiper" [config]="swiperConfig">
          <ng-template swiperSlide="" *ngFor="let testimonial of testimonials">
            <div class="contact-banner">
              <div class="contact-banner-image-wrapper">
                <img
                  [src]="testimonial.author?.photo"
                  alt=""
                  class="contact-banner-image"
                />
              </div>

              <div class="contact-testimonial-wrapper">
                <div class="contact-testimonial">
                  <p innerText='"{{testimonial.content}}"'></p>
                  <div class="contact-testimonial-author">
                    <strong class="contact-testimonial-author-name"
                      >{{testimonial.author?.name}}</strong
                    ><br />
                    <span class="contact-testimonial-author-title"
                      >{{testimonial.author?.profession}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</ion-content>
