.inner-container {

 background-color: var(--contact-bg);
}
.error{
  margin-top: 0.375rem;
  color: #f83a3a;
}
.contact-form-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background);
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 12px;
  width: 100%;
  min-height: 600px;
  gap: 1.5rem;
  .contact-form {
    flex: 1;
    min-width: 300px;
    width: 100%;
    padding: 2rem 1.5rem;
    -webkit-animation: slide-right 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    .contact-form-options-list {
      display: flex;
      padding: 0;
      gap: 1.375rem;
      list-style: none;
      overflow-x: auto;
      width: 100%;
      padding-bottom: 1rem;
      .contact-form-options-item {
        display: flex;
        white-space: nowrap;
        align-items: center;
        text-transform: capitalize;

        label {
          padding: 0.375rem 1rem;
          border-radius: 30px;
          border: 2px solid rgba(var(--ion-color-medium-rgb), 0.7);

          display: block;
          cursor: pointer;
          box-shadow: 0 3px 5px #0003;
        }
        .radio-input {
          display: none;
          &:checked ~ label {
            border-color: transparent;
            background-color: var(--french-blue);
            color: #fff;
          }
        }
      }
    }
  }
}
@-webkit-keyframes slide-right {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
@keyframes slide-right {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
}
.contact-swiper-container {
  position: relative;
  flex: 1;
  min-width: 300px;
  min-height: 600px;
  max-height: 100%;
  width: 100%;
  -webkit-animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contact-swiper {
  min-height: 100%;
  width: 100%;
  min-width: 300px;
}
@-webkit-keyframes slide-left {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}
@keyframes slide-left {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}

.contact-banner {
  flex: 1;
  min-height: 100%;
  position: relative;
  min-width: 300px;
  // min-height: 600px;
  // display: flex;
  width: 100%;
  .contact-banner-image-wrapper {
    height: 700px;
    max-height: 100%;
    // flex: 1;
    width: 100%;
    border-radius: 0 12px 12px 0;
    position: relative;

    overflow: hidden;
    .contact-banner-image {
      width: 100%;
      height: 100%;

      inset: 0;

      position: absolute;
      object-fit: cover;
    }
  }
  .contact-testimonial-wrapper {
    padding: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    .contact-testimonial {
      padding: 1rem;
      backdrop-filter: blur(5px);
      margin: auto;
      background-color: rgba(var(--primary-bg-rgb), 0.8);
      border-radius: 10px;
      font-weight: 300;
      .contact-testimonial-author-name {
        font-size: 16px;
        font-weight: 500;
      }
      .contact-testimonial-author-title {
        font-size: 14px;
        font-weight: 500;
        color: var(--ion-color-medium-shade);
      }
    }
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    transition: 0.4s ease-out;

    font-size: 15px;
    z-index: 2;
    display: inline-block;
    color: var(--ion-color-medium-tint);
  }
  input,
  textarea {
    padding: 1rem;
    border-radius: 6px;
    border: 2px solid var(--ion-color-medium-shade);
    outline: none;
    resize: none;
    background-color: transparent;
    &:focus,
    &:valid {
      border-color: var(--contact-bg);
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -7px;
      left: 10px;
      font-size: 12px;
      padding: 2px 4px;
      color: var(--contact-bg);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        inset: 0;
        display: block;
        position: absolute;
        z-index: -1;

        background-color: var(--background);
      }
    }
  }
  textarea {
    min-height: 150px;
    &:focus ~ label {
      visibility: visible !important;
    }
    &:invalid ~ label {
      visibility: hidden;
    }
  }
}
.contact-submit-btn {
  height: auto;
  max-height: 65px;
  overflow: hidden;
  &::part(native) {
    padding: 1rem;
    background: var(--contact-bg);
    margin-top: 1.25rem;
  }
}
@media all and (max-width: 760px) {
  .inner-container {
    padding: 0.5rem;
  }
  .contact-swiper-container {
    min-height: 500px;
    padding: 0.375rem;
  }
  .contact-banner {
    max-width: 400px;
    margin: auto;
    padding: 0;
    height: 450px !important;
    .contact-banner-image-wrapper {
      height: 100%;
      border-radius: 12px;
    }
  }
  .contact-testimonial {
    font-size: 14px;
  }
  .contact-testimonial-wrapper {
    padding: 0.5rem;
  }
  .contact-form {
    padding: 2rem 1rem;
  }
}
